#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Arial', sans-serif;
    /* You can choose any font you prefer */
    background: linear-gradient(135deg, #000000, #0000FF, #8A2BE2);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    color: #ff0000;/
}

@keyframes gradientBG {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

/* Additional styles for text and other elements to ensure good readability */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

.light-mode {
  --navbar-background: #fff;
  --navbar-text: #000;
}

.dark-mode {
  --navbar-background: #000;
  --navbar-text: #fff;
}